* {  font-family: 'NanumGothic';}
      * {  font-family: 'NanumSquare';}
      * {  line-height: 130%;}
      * {word-break: keep-all;}
      header {background-color:#FFFFFF; opacity:0.8; width:99.5vw; height:2.5vw; position:fixed; justify-content: space-between;z-index:2;margin-top: -2vw}
      body {margin: 0 auto; width:99.5vw;-ms-overflow-style: none;}
      html {scroll-behavior: smooth}
      ::-webkit-scrollbar { display: none;}
      @media screen and (orientation: portrait){#main1080p {display:none;}}
      @media screen and (orientation: landscape){#main720p {display:none;}}
